# Worker node LAN configuration
# Set MASTER_HOST to the IP address or hostname of the MASTER machine
# Example: MASTER_HOST=192.168.1.111
# Or if using hostname: MASTER_HOST=master-machine-hostname

MASTER_HOST=192.168.1.111
WORKER_HOST_IP=192.168.1.112
